<footer class="footer">
    <div class="container">
        <div class="footer__nav">
            <nav class="header__nav">
                <ul class="header__nav-list text-white">
                    <li class="header__nav-item">
                        <a href="#" class="header__nav-link">
                            Главная
                        </a>
                    </li>
                    <li class="header__nav-item">
                        <a href="#" class="header__nav-link">
                            О нас
                        </a>
                    </li>
                    <li class="header__nav-item">
                        <a href="#" class="header__nav-link">
                            Каталог
                        </a>
                    </li>
                    <li class="header__nav-item">
                        <a href="#" class="header__nav-link">
                            Заказать
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <h3 class="footer__title text-xl font-bold text-center text-white">Компания "КИРПИЧНОЕ ДЕПО"</h3>
        <p class="footer__subtitle text-sm text-center text-white">КИРПИЧИ. ДОМА. ПЕЧИ</p>

    </div>
</footer>