<header>

    <div class="nav__wrapper">
        <div class="container">
            <div class="nav__inner">
                <a href="./index.html">
                    <p class="header__logo">КИРПИЧНОЕ<br />ДЕПО</p>
                </a>
               
                <nav class="header__nav">
                    <ul class="header__nav-list">
                        <li class="header__nav-item">
                            <a href="#" class="header__nav-link">
                                Главная
                            </a>
                        </li>
                        <li class="header__nav-item">
                            <a href="#" class="header__nav-link">
                                О нас
                            </a>
                        </li>
                        <li class="header__nav-item">
                            <a href="#" class="header__nav-link">
                                Каталог
                            </a>
                        </li>
                        <li class="header__nav-item">
                            <a href="#" class="header__nav-link">
                                Заказать
                            </a>
                        </li>
                    </ul>

                </nav>
                <div class="header__contacts">
                    <a class="header__contacts-tg" href="https://t.me/+79996484961">Написать в Telegram</a>
                    <button class="header__contacts-btn">Заказать звонок</button>
                    <a class="header__contacts-tel" href="tel:+79996484961">+7 999 648 49 61</a>
                </div>


            </div>
        </div>

</header>