<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <div class="header__wrapper-top">
                <div class="header__logo-wrapper">
                    <a href="./index.html">
                        <p class="header__logo">КИРПИЧНОЕ<br />ДЕПО</p>
                    </a>
                    
                    <!-- <br/>для строительства домов, каминов и заборов. <br/>Широкий ассортимент и оперативная доставка. -->
                </div>



                <!-- <p class="header__text">г. Кемерово</p> -->
                <p class="header__text">Продаем высококачественные кирпичи <br/>в Кемерово и Кузбассе </p>
                <p class="header__text">Режим работы с пн по пт<br /> с 09:00 до 17:00</p>
                <button class="header__contacts-btn form__btn">Заказать звонок</button>
            </div>

            <div class="header__wrapper-bot">
                <nav class="header__nav">
                    <ul class="header__nav-list">
                        <li class="header__nav-item">
                            <a href="./index.html" class="header__nav-link">
                                Главная
                            </a>
                        </li>
                        <li class="header__nav-item">
                            <a href="#" class="header__nav-link">
                                О нас
                            </a>
                        </li>
                        <li class="header__nav-item">
                            <a href="#" class="header__nav-link">
                                Каталог
                            </a>
                        </li>
                        <li class="header__nav-item">
                            <a href="#order" class="header__nav-link">
                                Заказать
                            </a>
                        </li>
                    </ul>

                </nav>


                <div class="header__contacts">
                    <a class="header__contacts-tg" href="https://t.me/+79996484961">Написать в Telegram</a>
                    
                    <a class="header__contacts-tel" href="tel:+79996484961">+7 999 648 49 61</a>
                </div>

            </div>

            
        </div>
</header>