<div class="popup none" >
	<form action="#" class="popup__form" id="tg-form">
		<img src="@img/close.png" alt="" class="popup__close">
		<label for="popup__input-name" class="popup__label">
			<p class="popup__label-text">Имя </p>
			<input type="text" name="name" class="popup__input" id="popup__input-name" placeholder="Введите ваше имя" required>
		</label>

		<label for="popup__input-tel" class="popup__label">
			<p class="popup__label-text">Телефон</p>
			<input type="text" name="phone" class="popup__input" id="popup__input-tel" placeholder="+7 000 000 00 00" required>
		</label>

		<button class="popup__btn" id="submit-btn" type="submit">Отправить</button>
		<p class="popup__text">Нажимая на кнопку "Отправить", вы даете согласие на обработку своих персональных данных в соответствии с законом № 152-ФЗ "О персональный данных" от 27.07.2006 и политикой обработки персональных данных</p>
	</form>
</div>
<div class="dark none"></div>