<section class="products">
    <div class="container">
        <h2 class="text-4xl font-bold text-center">Топ продаж</h2>

        <div class="products__wrapper">
            <div class="products__card">
                <img class="products__img" src="@img/materials/stone1.jpg" alt="">

                <p class="products__undertitle">Темный кирпич</p>
                <h3 class="products__title">Кирпич лицевой Темный Шоколад Гладкий 0,7 НФ ГОСТ</h3>
                <div class="products__content">
                    <p class="products__desc">Основные зарактеристики продукта:</p>
                    <ul class="products__list">
                        <li>Марка по прочности, кг/см2: <span class="products__span">М150-200</span>М150-200
                        </li>
                        <li>Размер: <span class="products__span">250*85*65 мм</span></li>
                        <li>Вес, кг: <span class="products__span">1,78 кг</span></li>
                        <li>Количество шт в кубе: <span class="products__span">100</span></li>
                        <li>Кол-во шт в м2 кладки: <span class="products__span">150</span></li>
                        <li>Цена за 1 шт/куб/м2: <span class="products__span">250.25/8750/8694</span> </li>
                    </ul>
                    <button class="products__btn">Отправить заявку</button>
                </div>
            </div>
            <div class="products__card">
                <img class="products__img" src="@img/materials/stone2.jpg" alt="">

                <p class="products__undertitle">Темный кирпич</p>
                <h3 class="products__title">Кирпич лицевой Темный Шоколад Гладкий 0,7 НФ ГОСТ</h3>
                <div class="products__content">
                    <p class="products__desc">Основные зарактеристики продукта:</p>
                    <ul class="products__list">
                        <li>Марка по прочности, кг/см2: <span class="products__span">М150-200</span>М150-200
                        </li>
                        <li>Размер: <span class="products__span">250*85*65 мм</span></li>
                        <li>Вес, кг: <span class="products__span">1,78 кг</span></li>
                        <li>Количество шт в кубе: <span class="products__span">100</span></li>
                        <li>Кол-во шт в м2 кладки: <span class="products__span">150</span></li>
                        <li>Цена за 1 шт/куб/м2: <span class="products__span">250.25/8750/8694</span> </li>
                    </ul>
                    <button class="products__btn">Отправить заявку</button>
                </div>
            </div>
            <div class="products__card">
                <img class="products__img" src="@img/materials/stone3.jpg" alt="">

                <p class="products__undertitle">Темный кирпич</p>
                <h3 class="products__title">Кирпич лицевой Темный Шоколад Гладкий 0,7 НФ ГОСТ</h3>
                <div class="products__content">
                    <p class="products__desc">Основные зарактеристики продукта:</p>
                    <ul class="products__list">
                        <li>Марка по прочности, кг/см2: <span class="products__span">М150-200</span>М150-200
                        </li>
                        <li>Размер: <span class="products__span">250*85*65 мм</span></li>
                        <li>Вес, кг: <span class="products__span">1,78 кг</span></li>
                        <li>Количество шт в кубе: <span class="products__span">100</span></li>
                        <li>Кол-во шт в м2 кладки: <span class="products__span">150</span></li>
                        <li>Цена за 1 шт/куб/м2: <span class="products__span">250.25/8750/8694</span> </li>
                    </ul>
                    <button class="products__btn">Отправить заявку</button>
                </div>
            </div>
            <div class="products__card">
                <img class="products__img" src="@img/materials/stone4.jpg" alt="">

                <p class="products__undertitle">Темный кирпич</p>
                <h3 class="products__title">Кирпич лицевой Темный Шоколад Гладкий 0,7 НФ ГОСТ</h3>
                <div class="products__content">
                    <p class="products__desc">Основные зарактеристики продукта:</p>
                    <ul class="products__list">
                        <li>Марка по прочности, кг/см2: <span class="products__span">М150-200</span>М150-200
                        </li>
                        <li>Размер: <span class="products__span">250*85*65 мм</span></li>
                        <li>Вес, кг: <span class="products__span">1,78 кг</span></li>
                        <li>Количество шт в кубе: <span class="products__span">100</span></li>
                        <li>Кол-во шт в м2 кладки: <span class="products__span">150</span></li>
                        <li>Цена за 1 шт/куб/м2: <span class="products__span">250.25/8750/8694</span> </li>
                    </ul>
                    <button class="products__btn">Отправить заявку</button>
                </div>
            </div>
            <div class="products__card">
                <img class="products__img" src="@img/materials/stone5.jpg" alt="">

                <p class="products__undertitle">Темный кирпич</p>
                <h3 class="products__title">Кирпич лицевой Темный Шоколад Гладкий 0,7 НФ ГОСТ</h3>
                <div class="products__content">
                    <p class="products__desc">Основные зарактеристики продукта:</p>
                    <ul class="products__list">
                        <li>Марка по прочности, кг/см2: <span class="products__span">М150-200</span>М150-200
                        </li>
                        <li>Размер: <span class="products__span">250*85*65 мм</span></li>
                        <li>Вес, кг: <span class="products__span">1,78 кг</span></li>
                        <li>Количество шт в кубе: <span class="products__span">100</span></li>
                        <li>Кол-во шт в м2 кладки: <span class="products__span">150</span></li>
                        <li>Цена за 1 шт/куб/м2: <span class="products__span">250.25/8750/8694</span> </li>
                    </ul>
                    <button class="products__btn">Отправить заявку</button>
                </div>
            </div>
            <div class="products__card">
                <img class="products__img" src="@img/materials/stone2.jpg" alt="">

                <p class="products__undertitle">Темный кирпич</p>
                <h3 class="products__title">Кирпич лицевой Темный Шоколад Гладкий 0,7 НФ ГОСТ</h3>
                <div class="products__content">
                    <p class="products__desc">Основные зарактеристики продукта:</p>
                    <ul class="products__list">
                        <li>Марка по прочности, кг/см2: <span class="products__span">М150-200</span>М150-200
                        </li>
                        <li>Размер: <span class="products__span">250*85*65 мм</span></li>
                        <li>Вес, кг: <span class="products__span">1,78 кг</span></li>
                        <li>Количество шт в кубе: <span class="products__span">100</span></li>
                        <li>Кол-во шт в м2 кладки: <span class="products__span">150</span></li>
                        <li>Цена за 1 шт/куб/м2: <span class="products__span">250.25/8750/8694</span> </li>
                    </ul>
                    <button class="products__btn">Отправить заявку</button>
                </div>
            </div>


            <!-- <div class="card">
                <img class="products__img" src="@img/materials/stone2.jpg" alt="">
                <h3 class="card__text text-2xl font-bold uppercase">ОБЛИЦОВОЧНЫЙ</h3>
                <div class="card__content">
                    <p class="card__title">Основные зарактеристики продукта:</p>
                    <ul class="card__list">
                        <li>Марка прочности</li>
                        <li>Размер в мм</li>
                        <li>Вес 1 шт</li>
                        <li>Количество шт в кубе</li>
                        <li>Кол-во шт в м2 кладки</li>
                        <li>Цена за 1 шт/куб/м2</li>
                    </ul>
                    <a href="@img/materials/stone3.jpg" class="button" download="@img/materials/stone2.jpg">

                        <img class="button__icon" src="@img/icons/download.png" alt="">
                    </a>
                    <p class="card__description">
                    </p>
                </div>
            </div> -->

        </div>
    </div>

</section>