$brown: #9c5640;
$white: #f0dabd;
$dark: #4b2c1a;
$gray: #84746c;
$green: #8c846c;

$text_white: #fff;


@mixin flex-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// $brown: #9c5640;
// $white: #c0a98b;
// $dark: #372b24;
// $gray: #84746c;
// $green: #8c846c;