@font-face {
    font-family: BeauRivage;
    font-display: swap;
    src: url("../fonts/BeauRivage-Regular.woff2") format ("woff2"), url("../fonts/BeauRivage-Regular.woff") format ("woff");
    font-weight: 400;
    font-style: normal;
}