@use "_var" as c;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}


body {
    font-family: 'Dosis', sans-serif;
    background-color: c.$white;
    overflow-x: hidden;


}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

//
//
//
//FOR JS
//
//
//
.active {
    padding-bottom: 4px;
    color: c.$dark;
    border-bottom: 2px solid c.$dark;
}

.none {
    display: none;

}

.transform {

    transform: translateY(-100%);
    /* Показываем меню */
    transition: transform 0.3s ease-in-out;

}

.dark {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    z-index: 3;
}
.spinner {
    border: 2px solid #f3f3f3;
    border-top: 2px solid white;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 0.6s linear infinite;
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

//
//
//
//SWIPER
//
//
//
.swiper {
    width: 110%;
    height: 700px;
}

.slider__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide {
    width: 99% !important;

}

.slider__btn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -80%);
    padding: 10px 20px;
    border-radius: 12px;
    background-color: c.$white;
    color: c.$text_white;
    max-width: 350px;
    font-size: 35px;
}

.slider__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    padding: 10px 20px;
    border-radius: 12px;
    text-shadow: 0 0 10px c.$brown;
    font-weight: 700;
    color: c.$text_white;
    max-width: 800px;
    width: 100%;
    font-size: 30px;
    text-transform: uppercase;
}



//
//
//
//HEADER
//
//
//
.header {
    background: c.$brown;

    &__wrapper {
        // background: c.$brown;
        color: c.$text_white;
        padding: 20px 40px;
        border-radius: 12px;

        &-top {
            @include c.flex-center;
            padding-bottom: 10px;
            border-bottom: 1px solid c.$white;
        }

        &-bot {
            @include c.flex-center;
            margin-top: 10px;
        }
    }

    &__logo {
        &-wrapper {
            @include c.flex-center;
            gap: 10px;
        }

        font-size: 20px;
        font-weight: 700;
    }

    &__nav {
        &-list {
            @include c.flex-center;
            gap: 30px;


        }

        &-item {
            &:hover {
                color: c.$green;
            }
        }
    }


    &__contacts {
        @include c.flex-center;
        gap: 20px;

        &-tg {
            &:hover {
                color: c.$green;
            }
        }

        &-btn {
            border: none;
            padding: 10px 20px;
            border-radius: 12px;
            font-size: 16px;
            background-color: c.$green;
            color: c.$text_white;
            cursor: pointer;
        }

        &-tel {
            font-size: 20px;

            &:hover {
                color: c.$green;
            }
        }
    }
}



//
//
//
//PRODUCTS
//
//
//
.products {
    margin-top: 100px;
    color: c.$text_white;

    &__wrapper {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 20px;

    }

    &__card {
        background: c.$dark;
        padding: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        border-radius: 12px;


    }

    &__img {
        max-width: 350px;
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 6px;
    }

    &__undertitle {
        color: #ecececb1;
        align-self: flex-start;
    }

    &__title {

        font-size: 20px;
        font-weight: 700;
    }

    &__desc {
        font-size: 18px;
    }

    &__list {
        color: #ececec
    }

    &__span {
        margin-top: 10px;
        font-size: 18px;
        font-weight: 700;
        color: white;
    }

    &__btn {
        border: none;
        width: 100%;
        margin-top: 10px;
        padding: 20px 40px;
        border-radius: 12px;
        background-color: c.$green;
        color: c.$text_white;
        cursor: pointer;

        &:hover {
            background-color: c.$brown;
        }
    }
}


/* From Uiverse.io by gharsh11032000 */
.card {
    position: relative;
    padding: 10px;

    background-color: c.$dark;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s;
}

.card__text {
    margin-top: 10px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #fff6f6;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.4s;

}

.card:hover .card__content {
    transform: rotateX(0deg);
    border: 1px solid transparent;
}

.card__title {
    margin: 0;
    font-size: 20px;
    color: #333;
    font-weight: 700;
}

.card:hover svg {
    scale: 0;
}

.card__list {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
}


.button {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px
}

.button__icon {
    width: 1.5em;
    height: 1.5em;
}


//
//
//
//ORDER
//
//
//
.order {
    background-color: c.$brown;
    margin-top: 100px;
    min-height: 550px;
    color: c.$text_white;
    padding: 20px 0;
    position: relative;


    &__advantages {
        @include c.flex-center;
        margin-top: 40px;
    }

    &__card {
        background: c.$dark;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        flex-direction: column;

        gap: 10px;
    }

    &__descr {
        margin-top: 10px;
        font-size: 16px;
    }

    &__form-wrapper {
        position: absolute;
        bottom: -150px;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 800px;
        width: 100%;
        background: c.$dark;
        border-radius: 12px;
        padding: 20px 40px;
        @include c.flex-center;

    }

    &__left {
        max-width: 300px;

        &>p {
            margin-top: 10px;
        }
    }

    &__form {
        @include c.flex-center;
        flex-direction: column;
        gap: 20px;
        max-width: 350px;
        width: 100%;
    }

    &__input {
        outline: none;
        border: none;
        padding: 10px 20px;
        border-radius: 12px;
        background-color: c.$gray;
        color: c.$text_white;
        width: 100%;

        &::placeholder {
            color: c.$text_white;
        }
    }

    &__btn {
        padding: 10px 20px;
        border-radius: 12px;
        background-color: c.$green;
        color: c.$text_white;
        width: 100%;

        &:hover {
            background-color: c.$brown;
        }
    }
}




//
//
//
//ACCORDION
//
//
//
.faq {
    margin-top: 150px;

    &__title {
        margin-bottom: 40px;
    }
}

.accordion {
    width: 100%;
    margin: 0 auto;
}

.accordion-item {
    margin-bottom: 5px;
    border-radius: 12px;
}

.accordion-item .content {
    font-size: 18px;
}

.accordion input[type="radio"] {
    display: none;
}

.accordion .content {
    height: 0px;
    padding: 0px;
    background-color: #fafafa;
    border-top: 1px solid #ccc;
    overflow: hidden;
    transition: all 0.3s ease;
}

.accordion input[type="radio"]:checked+.accordion-header+.content {
    height: auto;
    padding: 15px;
}

.accordion-icon {
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
}

.accordion input[type="radio"]:checked+.accordion-header .accordion-icon {
    transform: rotate(180deg);
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: c.$brown;
    cursor: pointer;
    font-weight: bold;
    text-align: left;
    border-radius: 6px 6px 0 0;
    color: c.$text_white;

}

.accordion-header .accordion-title {
    font-size: 22px;
    line-height: 100%;
}




//
//
//
//FOOTER
//
//
//
.footer {
    margin-top: 160px;
    background-color: c.$brown;
    padding-top: 50px;
    padding-bottom: 20px;

    &__nav {
        margin: 0px auto 30px;
        max-width: 600px;

    }
}

//
//
//
//POPUP
//
//
//

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;

    &__form {
        background: c.$white;
        position: relative;
        max-width: 417px;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px
    }

    &__close {
        position: absolute;
        top: 16px;
        right: 16px;
        cursor: pointer;
    }

    &__label {
        width: 100%;
    }

    &__label-text {
        font-size: 16px;
        line-height: 22px;
        position: relative;
        display: inline-block;

        &::after {
            content: '*';
            color: #FF6C2D;
            position: absolute;
            right: -24px;
            top: 0;
            width: 20px;
            height: 20px;
        }
    }

    &__input {
        outline: none;
        border: none;
        appearance: none;
        width: 100%;

        border: 1px solid #F1F1F1;
        border-radius: 14px;
        padding: 9px 16px;
        margin-top: 4px;

        font-size: 14px;
        line-height: 22px;
        color: black;

        &:focus {
            border-color: c.$brown;
        }

        &::placeholder {
            color: #a7a7a7;
        }
    }

    &__btn {
        // @include v.btn;
        background-color: c.$brown;
        width: 100%;
        padding: 10px 20px;
        border-radius: 12px;

        &:hover {
            background-color: c.$green
        }
    }

    &__text {
        margin-top: 12px;
        font-size: 12px;
        line-height: 18px;
    }

    &__link {
        color: c.$green;
    }
}